POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
AIRFLOW_DB=airflow
RETAIL_DB=retail
POSTGRES_PORT=5432
POSTGRES_HOST=postgres
AIRFLOW_UID=50000
AIRFLOW_PORT=8085
DATA_PATH=/data/sample
KAGGLE_API_TOKEN=
