POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
AIRFLOW_DB=airflow        # the default airflow db with metadata
RETAIL_DB=retail          # warehouse db for retail data(raw)
POSTGRES_PORT=5432
POSTGRES_HOST=postgres
AIRFLOW_UID=50000
AIRFLOW_PORT=8085